/* ---------- side ---------- */
.side {
  position: fixed;
  min-width: 296px;
  min-height: 100vh;
  padding: 32px;
  li > a {
      color: $gray-900;
      &:hover {
          color: $success;
      }
  }
}
.logo {
  height: 40px;
  background: url(../../images/logo-ANSWER.svg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
.nav-link {
  padding: 0 16px 0 0;
  position: relative;
}
.nav-link.active::before {
  content: '';
  position: absolute;
  left: -32px;
  height: 32px;
  border-left: 4px solid $success;
}
.admin {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background: url(../../images/andychen.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 16px;
}

/* ---------- main ---------- */
.main {
  margin-left: 296px;
  min-width: 984px;
  padding: 32px;
}
.list-group {
  width: 320px;
  a:hover {
      background-color: $gray-100;
      color: $gray-900
  }
}
.user {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background: url(../../images/emilywang.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 16px;
}
.pagination {
  margin-bottom: 0;
}