/* ---------- side ---------- */
.side {
  position: fixed;
  min-width: 296px;
  min-height: 100vh;
  padding: 32px;
  li > a {
      color: $gray-900;
      &:hover {
          color: $success;
      }
  }
}
.nav-link {
  position: relative;
}
.nav-link.active::before {
  content: '';
  position: absolute;
  left: -32px;
  height: 32px;
  border-left: 4px solid $success;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 24px;
}v

/* ---------- main ---------- */
.main {
  margin-left: 296px;
  padding: 32px;
}
.list-group {
  width: 320px;
  a:hover {
      background-color: $gray-100;
      color: $gray-900
  }
}
.pagination {
  margin-bottom: 0;
}